/* add CSS class and element and selectors here */

body {
      background-color:#FFB1C6;
      font-size: 200%;
}

.EvieSampleClass {
  font-family:courier;
  font-size:500%;
  border:10px dotted white;
  background:#;
  letter-spacing:10px;
}