/* add CSS class and element and selectors here */

body {
      background-color:#A7D4E8;
      font-size: 200%;
      color:#A5B8B3;
}

.EvieSampleClass {
  font-family:courier;
  font-size:500%;
  color:white;
  border:10px dotted white;
  background:#FFB1C6;
  letter-spacing:10px;
}